@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
  background-color:rgb(139, 135, 185);
}
.page{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color:rgb(27, 26, 42);
  color:#fff ;
  border-radius: 1px;

}
.secondFontColor{
  color: #949cb0;
}
.brdr{
  background-color:#a8a8a83d ;
  height: 1px;
  margin: 5px 0;
}
.item {
  position: relative;

}
.vote{
  position: absolute;
  top:0;
  right: 0;
  padding: 6px;
  background-color:#24baef ;

}

 .btncolor{
background-color:#24baef; }