@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
.bodyColor{
  background-color:rgb(139, 135, 185);
}
*{
  background-color:rgb(27, 26, 42);
}
.page{
  font-family: 'Montserrat Alternates', sans-serif;
  background-color:rgb(27, 26, 42);
  color:#fff ;
  text-decoration: none;
  

}
.secondFontColor{
  color: #949cb0;
}
.brdr{
  background-color:#a8a8a83d ;
  height: 1px;
  margin: 5px 0;
}
.item {
  position: relative;

}
.vote{
  position: absolute;
  top:0;
  right: 0;
  padding: 6px;
  background-color:#24baef ;

}
.star{
  position: absolute;
  top:0;
  left: 0;
  padding: 6px;
  background-color:#24baef ;
  font-size: 50px;
  color:#24baef;
  background-color: transparent;

}
.star1{
  position: relative;
  color:#24baef;
}
 .btncolor{
background-color:#24baef; }